window {
  font-family: JetBrainsMonoNL Nerd Font Mono;
  font-size: 11;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(29, 31, 33, 0.95);
  border-radius: 5px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
  margin-top: -25px;
}

#text {
  margin: 5px;
  border: none;
  color: #c5c8c6;
}

#entry {
  border: none;
}

#entry::focus {
  border: none;
}

#entry:selected {
  background-color: rgba(55, 59, 65, 0.95);
  border-radius: 5px;
  border: none;
}